@{
    ViewBag.Title = "About";
}
@RenderPage("~/Views/Home/Navbar.cshtml")
<div class="container body-content">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>
